#sinatra_authentication
  %h1.page_title Users
  %table
    %tr
      %th
      - if current_user.admin?
        %th permission level
    - @users.each do |user|
      %tr
        %td
          - if user.email
            = user.email
          - elsif user.fb_uid
            <fb:name uid=#{user.fb_uid} />
          - else
            "user #{user.id}"
        - if current_user.admin?
          %td= user.permission_level
        %td
          %a{:href => "/users/#{user.id}"} show
        - if current_user.admin?
          %td
            %a{:href => "/users/#{user.id}/edit"} edit
          %td
            -# this doesn't work for tk
            - if !user.site_admin? 
              %a{:href => "/users/#{user.id}/delete", :onclick => "return confirm('you sure?')"} delete
            - else
              site admin


%table.table.table-bordered
  %hr
  %a.btn.btn-primary{:href => "/signup"} Add User
  %hr
  %thead
    %tr
      %th Email
      %th Permission
      - if current_user.site_admin?
        %th Actions
  %tbody
    - @users.each do |user| 
      %tr
        %td= user.email
        %td 
          - if user.site_admin?
            Site Administrator
          - elsif user.admin?
            Administrator
          - else
            Autenticated (read-only)
            
        - if current_user.site_admin?
          %td 
            
            %a.btn.btn-primary{:href => "/users/#{user.id}/edit"} Edit
            - if !user.site_admin?
              %a.btn.btn-danger{:href => "/users/#{user.id}/delete"} Delete

