%h3 All employees
%hr
.row
  .col-lg-4.col-lg-offset-14
    %input#search.form-control{:placeholder => "Search", :type => "search", :value => ""}/
%hr
.row
  .col-lg-12
    %table.table.table-bordered#table.table
      %thead
        %tr
          %th Id
          %th First Name
          %th Last Name
          %th Company Name
          %th Phone
          %th Email
          %th Created
          %th Updated
          %th Actions
      %tbody
        - @employees.each do |employee|
          %tr
            %td= employee.id
            %td= employee.firstname
            %td= employee.lastname
            %td= companyname(employee.company_id)
            %td= employee.phone
            %td= employee.email
            %td= pretty_date(employee.created_at)
            %td= pretty_date(employee.updated_at)
            %td
              %a.btn.btn-primary{:href => "/employees/#{employee[:id]}/edit"} Edit
              %a.btn.btn-danger{:href => "/employees/#{employee[:id]}/delete"} Delete
    %hr/

