%h3 All companies
%table.table.table-bordered
  %hr
  %a.btn.btn-primary{:href => "/companies/new"} Add Company
  %hr
  %thead
    %tr
      %th Id
      %th Name
      %th Logo
      %th Created
      %th Updated
      %th Actions
  %tbody
    - @companies.each do |company|
      %tr
        %td= company[:id]
        %td= company[:name]
        %td= company[:logo]
        %td= pretty_date(company[:created_at])
        %td= pretty_date(company[:updated_at])
        %td
          %a.btn.btn-success{:href => "/companies/#{company[:id]}/employees"} Employees
          %a.btn.btn-primary{:href => "/companies/#{company[:id]}/edit/"} Edit
          %a.btn.btn-danger{:href => "/companies/#{company[:id]}/delete"} Delete
