%h3 All employees for #{@companies.name}
%hr
  %a.btn.btn-primary{:href => "/companies/#{@companies.id}/employees/new"} Add Employee
  %a.btn.btn-primary{:href => "/companies/#{@companies.id}/employees/upload"} Import employees
  %a.btn.btn-danger{:href => "/companies/#{@companies.id}/employees/delete/all"} Delete all employees
%hr
.row
  .col-lg-4.col-lg-offset-14
    %input#search.form-control{:placeholder => "Search", :type => "search", :value => ""}/
%hr
.row
  .col-lg-12
    %table.table.table-bordered#table.table
      %thead
        %tr
          %th Id
          %th First Name
          %th Last Name
          %th Company Name
          %th Phone
          %th Created
          %th Updated
          %th Actions
      %tbody
        - @companies.employees.each do |employee|
          %tr
            %td= employee.id
            %td= employee.firstname
            %td= employee.lastname
            %td= @companies.name
            %td= employee.phone
            %td= pretty_date(employee.created_at)
            %td= pretty_date(employee.updated_at)
            %td
              %a.btn.btn-primary{:href => "/employees/edit/#{employee[:id]}"} Edit
              %a.btn.btn-danger{:href => "/employees/delete/#{employee[:id]}"} Delete
    %hr/

